/Debug
/DebugU
/ReleaseMinDependency
/ReleaseMinSize
/ReleaseUMinDependency
/ReleaseUMinSize
/build
/dist
/NewTauArgus_i.c
/NewTauArgus_p.c
/dlldata.c
/NewTauArgus.h
/TopicHelp.h
/TauArgusJava_wrap.cpp
/TauArgusJava_wrap.h
/.dep.inc
*.ncb
*.opt
*.plg
*.scc
*.tlb
*.zip
*.dep
*.aps
*.CHM
*.chw
