/TauArgusJava___Win32_Debug
/DebugU
/ReleaseMinDependency
/ReleaseMinSize
/ReleaseUMinDependency
/ReleaseUMinSize
/TauArgusJava___Win32_Release
/Debug
/Linux
/Win32
*.ncb
*.opt
*.plg
*.scc
*.tlb
*.zip
*.dep
/NewTauArgus_i.c
/NewTauArgus_p.c
/dlldata.c
/TauArgusJava_wrap.cpp
/TauArgusJava_wrap.h
/NewTauArgus.h
*.java
*.aps
/TopicHelp.h
*.CHM
*.chw
