/Debug
/DebugU
/ReleaseMinDependency
/ReleaseMinSize
/ReleaseUMinDependency
/ReleaseUMinSize
/build
/dist
/src/NewTauArgus_i.c
/src/NewTauArgus_p.c
/src/dlldata.c
/src/NewTauArgus.h
/src/TopicHelp.h
/src/TauArgusJava_wrap.cpp
/src/TauArgusJava_wrap.h
/.dep.inc
*.ncb
*.opt
*.plg
*.scc
*.tlb
*.zip
*.dep
*.aps
*.CHM
*.chw
